In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/flaviovieira/cursos/casas.csv')

In [3]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [4]:
#colunas = ['tamanho','preco']
#df = df[colunas]
#teste2
#teste3

In [5]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [6]:
x = df.drop('preco', axis=1)
y = df['preco']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state=42)

In [9]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [10]:
from sklearn.linear_model import LinearRegression

In [12]:
modelo = LinearRegression()
modelo.fit(X_train,y_train)

LinearRegression()

In [13]:
modelo.intercept_

-1484640.872167663

In [14]:
modelo.predict([[120,2001,2]])

array([191436.53503831])

In [14]:
import pickle

In [15]:
pickle.dump(modelo, open('modelo.sav','wb'))